/* General Body Styling */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

/* A container to center the content */
.container {
    max-width: 800px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

/* Header Styling */
header {
    background: #fff;
    padding: 20px;
    border-bottom: #eee 1px solid;
    margin-bottom: 40px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #505050;
}

/* Blog List Styling (for home/index.ejs) */
#blogs-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#blogs-list {
    list-style: none;
    padding: 0;
}

#blogs-list li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
}

#blogs-list li:last-child {
    border-bottom: none;
}

#blogs-list a {
    text-decoration: none;
    color: #337ab7;
    transition: color 0.3s ease;
}

#blogs-list a:hover {
    color: #23527c;
}

/* Article Styling (for article/index.ejs) */
.article-content {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#title {
    color: #333;
    border-bottom: 2px solid #337ab7;
    padding-bottom: 10px;
}

#publish-date {
    display: block;
    color: #777;
    font-style: italic;
    margin-bottom: 20px;
}

#article {
    font-size: 1.1em;
    text-align: justify;
}

/* Form Styling (for edit/index.ejs) */
#edit-article-form,
#new-article-form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#edit-article-form,
#new-article-form label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

#edit-article-form,
#new-article-form input[type="text"],
#edit-article-form,
#new-article-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Important */
}

#edit-article-btn,
#new-article-btn {
    display: inline-block;
    background: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#edit-article-btn:hover,
#new-article-btn:hover {
    background: #23527c;
}
