<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <h1 id="title"><%=title%></h1>
    <span id="publish-date"><%=publishDate%></span>
    <p id="article"><%=article%></p>
</body>
</html>