<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <form method="post" action="/edit/<%=id%>?_method=PUT" id="edit-article-form">
        <label for="title">Title:</label>
        <input name="title" value="<%=title%>"/>
        <label for="article">Article:</label>
        <textarea name="article"><%=article%></textarea>
        <button id="edit-article-btn">Submit</button>
    </form>
</body>
</html>